h1 {
  text-align: center;
  font-size: 40px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#playerBoard,
#computerBoard {
  width: 500px;
  height: 500px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  box-sizing: border-box;
  border: 1px solid black;
}

div.playerBoard,
div.computerBoard {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.playerBoard.ship {
  background-color: blue;
}

.playerBoard.ship.horizontal {
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.playerBoard.ship.vertical {
  border-right: 2px solid green;
  border-left: 2px solid green;
}

.playerBoard.ship.first-cell.horizontal {
  border-left: 2px solid green;
}

.playerBoard.ship.last-cell.horizontal {
  border-right: 2px solid green;
}

.playerBoard.ship.first-cell.vertical {
  border-top: 2px solid green;
}

.playerBoard.ship.last-cell.vertical {
  border-bottom: 2px solid green;
}

.hit,
.miss {
  pointer-events: none;
}

.hit {
  background-color: red;
}

.miss {
  background-color: lightblue;
}

.playerBoard.hit {
  background-color: brown;
}
